org: thebeanogamer
app: linkshortener
service: linkshortener

provider:
  name: aws
  runtime: python3.8
  region: eu-west-2
  memorySize: 128
  timeout: 20
  apiKeys:
    - ${opt:stage}-adminkey
  environment:
    DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}
    ADMIN_CONTACT: ${env:ADMIN_CONTACT}
    DOMAIN: ${env:DOMAIN}
    SES_REGION: ${env:SES_REGION}
  iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Query
          - dynamodb:Scan
          - dynamodb:GetItem
          - dynamodb:PutItem
          - dynamodb:UpdateItem
          - dynamodb:DeleteItem
        Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
      - Effect: Allow
        Action:
          - ses:SendEmail
          - ses:SendRawEmail
        Resource: "*"
  tracing:
    apiGateway: true
    lambda: true
  logs:
    restApi: true

functions:
  fallback:
    handler: linkshortener/shortener.fallback
    events:
      - http:
          path: /
          method: get
  create:
    handler: linkshortener/shortener.create
    events:
      - http:
          path: /manage
          method: put
          private: true
  view:
    handler: linkshortener/shortener.view
    events:
      - http:
          path: /manage
          method: get
          private: true
  delete:
    handler: linkshortener/shortener.delete
    events:
      - http:
          path: /manage
          method: delete
          private: true
  preview:
    handler: linkshortener/notifications.view
    events:
      - http:
          path: /email
          method: get
          private: true
  email:
    handler: linkshortener/notifications.summary
    events:
      - http:
          path: /email
          method: post
          private: true
      - schedule: rate(24 hours)
  robots:
    handler: linkshortener/shortener.robots
    events:
      - http:
          path: /robots.txt
          method: get
  shortener:
    handler: linkshortener/shortener.shortener
    events:
      - http:
          path: /{id}
          method: get

resources:
  Resources:
    ShortenerDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: code
            AttributeType: S
        KeySchema:
          -
            AttributeName: code
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.DYNAMODB_TABLE}

plugins:
  - serverless-offline
  - serverless-dynamodb-local
  - serverless-domain-manager
  - serverless-python-requirements
  - serverless-ignore

custom:
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      heapInitial: 200m
      heapMax: 1g
      migrate: true
      seed: true
      convertEmptyValues: true
  customDomain:
    domainName: ${env:DOMAIN}
    basePath: ""
    createRoute53Record: true
  pythonRequirements:
    dockerizePip: non-linux
    usePoetry: false

  