trigger:
- master

pr: none

jobs:
- job: Deploy
  displayName: Deploy

  pool:
    vmImage: Ubuntu 18.04

  steps:
  - task: NodeTool@0
    displayName: 'Use Node 12.x'
    inputs:
      versionSpec: 12.x

  - task: Npm@1
    displayName: 'Install Node Packages'
    inputs:
      workingDir: '$(System.DefaultWorkingDirectory)'
      verbose: false

  - script: curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
    displayName: Install Poetry

  - script: $HOME/.poetry/bin/poetry export -f requirements.txt -o requirements.txt
    displayName: Create Requirements File

  - script: '$(System.DefaultWorkingDirectory)/node_modules/.bin/serverless deploy --conceal --stage prod'
    displayName: 'Deploy with Serverless Framework'
    env:
      AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
      AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
      SERVERLESS_ACCESS_KEY: $(SERVERLESS_ACCESS_KEY)
      ADMIN_CONTACT: $(ADMIN_CONTACT)
